@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}
@theme {
  --color-red-500: #ea5555;
  --color-red-700: #ff9898;
  --color-dark-100: #00193e;
  --color-dark-200: #001942;
  --color-dark-300: #001c4b;
  --color-dark-400: #001f53;
  --color-light-900: #ffffff;
  --color-light-800: #c3c3c3;
  --color-light-700: #b0b0b0;
  --color-light-600: #828fa3;
  --color-button-800: rgba(99, 95, 199, 0.1);
  --color-button-700: rgba(99, 95, 199, 0.25);
}
@layer utilities {
  .h1-bold {
    @apply text-[56px] font-bold leading-[64px];
  }
  .h1-semibold {
    @apply text-[56px] font-semibold leading-[64px];
  }
  .h2-bold {
    @apply text-[36px] font-bold leading-[40px];
  }
  .h3-bold {
    @apply text-[20px] font-bold leading-[100%];
  }

  .h4-bold {
    @apply text-[16px] font-bold leading-[100%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[100%];
  }
  .paragraph-regular {
    @apply text-[14px] font-normal leading-[100%];
  }
  .body-bold {
    @apply text-[12px] font-bold leading-[15px];
  }
  .body-regular {
    @apply text-[12px] font-normal leading-[100%];
  }
  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900;
  }
  .placeholder {
    @apply placeholder:text-light-800;
  }
}
